@font-face {
    font-family: 'Segoe-Regular';
    src: url('../fonts/Segoe-Regular.ttf');
}
@font-face {
    font-family: 'GILB';
    src: url('../fonts/GILB.TTF');
}
// @font-face {
//     font-family: 'Handel-Gothic';
//     src: url('../fonts/Handel-Gothic.ttf');
// }

html,
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #242554, #2c2f61, #34396e, #3b447c, #434f8a);
    min-height: 100vh;
    font-size: 14px;
    font-family: 'Segoe-Regular';
    overflow-x: hidden;
}

header{
    // background-image: url('../images/landing/headerbg.jpg');
    background-color: #08081E;
    // background-image: linear-gradient(to right, #5cc1d5, #40a6c6, #2c8ab5, #236fa1, #25548a, #29487e, #2c3b71, #2e2f63, #302d5f, #322b5b, #342a58, #352854);
}

.main{
    background-image: url('../images/landing/dot.png');
    background-size: 35px;
    min-width: 100vw;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
}

.container{
    max-width: 1200px;
}

.sliderctn{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        height: 50%;
        width: 100%;
        background-color: #08081E;
    }
    // height: 300px;
    // background-color: #000;
    .slick-prev {
        left: 25px;
        width: 30px;
        height: auto;
        z-index: 1;
    }
    .slick-next {
        right:25px;
        width: 30px;
        height: auto;
        z-index: 1;
    }
    .slickimg{
        width: 100%;
        // height: 300px; 
    }
    .slick-dots{
        bottom: 0;
    }
    .slick-dots li{
        margin: 0;
    }
}

.slick-dots li button:before{
    font-size: 9px !important;
}
.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: white !important;
}
.landingheader{
    padding: 20px 0px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.landingfooter{
    background-color: #08081E;
    // background-image: linear-gradient(to bottom, #3a3f7f, #3b4687, #3b4d8f, #3c5497, #3c5b9f, #3763a6, #316cac, #2c74b2, #247fb6, #2489b9, #2d93bb, #3a9dbc);
    // background-image: linear-gradient(to bottom, #272b5d, #26295b, #252858, #232656, #222554, #212452, #1f2250, #1e214e, #1d1f4b, #1c1e49, #1a1c46, #191b44);
    min-height: 200px;
    padding:20px 0;
    .inner{
        display: flex;
        flex-direction: row;
    }
    .footeritem{
        width: 100%;
        padding: 20px 0px;
    }
    .copyright{
        color:#EAEAEA;
        padding-bottom: 20px;
    }
}

.subscribebtn{
    text-shadow: 0 0 10px #fff;
    color: #6EF1FF;
    background-color: #3A437F;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 216px;
    -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 0.3s all ease;
    &:hover{
        background-color: #4f5bac;
    }
}

.footerlink{
    color:#EAEAEA;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s all ease;
    &:hover{
        text-shadow: 0 0 10px #fff;
    }
}

.footericon{
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.logo{
    width: 145px;
}

.colorbtn{
    // background-image: linear-gradient(to right, #fc7e75, #fe9679, #ffac82, #ffc290, #ffd6a4);
    // color: #fff;
        color: #fff;
    // background-color: #3A437F;
    border-radius: 50px;
    padding: 10px 0px;
    display: inline-flex;
    margin-left: 30px;
    cursor: pointer;
    min-width: 175px;
    justify-content: center;
    text-shadow: 0 0 10px #fff;
    // -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.6);
    // -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.6);
    // box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.6);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s all ease;
    &:hover{
        color: #6EF1FF;
        text-decoration: none;
    }
}

.landingcenter{
    min-height: calc(100vh - 117px - 300px - 200px);
    .container{
        // background-color: rgba(7, 5, 45,0.6);
        min-height: 500px;
        border-radius: 15px;
        margin-top: 30px;
        margin-bottom: 50px;
        // -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        // -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        // box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        display: flex;
        flex-direction: row;
        padding: 50px 0px;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

.landingitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    padding: 0px 30px 80px;
    // margin-bottom: 50px;
    &.end{
        align-items: flex-end;
    }
    .title{
        color: #6EF1FF;
        font-size: 20px;
        // font-weight: bold;
        margin-bottom: 5px;
        font-family: 'GILB';
        text-align: center;
    }
    .imgctn{
        position: relative;
    }
    .desc{
        color:#AFB1C1;
        font-size: 16px;
        text-align: center;
        // margin-left: 30px;
        &.rtl{
            text-align: right;
        }
    }
    .itemimg{
        height: 100px;
    }
}
.newsletterctn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 250px;
    margin: 0 auto;
    img{
        width: 40px;
    }
    .title{
        color: #6EF1FF;
        font-size: 16px;
        margin: 20px 0 5px;
        font-family: 'GILB';
        text-align: center;
    }
    .newsletterinput{
        font-family: 'Segoe-Regular';
        font-size: 14px;
        color: #fff;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #fff;
        text-align: center;
        padding: 8px 25px;
        outline: none;
        transition: 0.3s all ease;
        &:focus{
            border-bottom: 1px solid #6EF1FF;
        }
    }
    .sendbtn{
        cursor: pointer;
        color: #fff;
        padding: 6px 18px;
        border-radius: 6px;
        border: 1px solid #fff;
        margin-top: 20px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s all ease;
        &:hover{
            background-color: #fff;
            color:#08081E;
        }
    }
}

.footerbottom{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .right{
        display: flex;
        align-items: center;
        .item{
            color:#EAEAEA;
            cursor: pointer;
            transition: 0.3s all ease;
            &:hover{
                text-shadow: 0 0 10px #fff;
            }
        }
        .divider{
            height: 10px;
            width: 1px;
            background-color: #EAEAEA;
            margin: 2px 10px 0;
        }
    }
}